<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <context:property-placeholder ignore-resource-not-found="true"
                                  location="classpath*:/*.properties"/>

    <bean id="morphia" class="org.mongodb.morphia.Morphia"/>

    <bean id = "mongoConfig" class="com.monkey.core.MongoConfig" >
        <property name="server" value="${mongo.server}"></property>
        <property name="database" value="${mongo.database}"></property>
        <property name="username" value="${mongo.username}"></property>
        <property name="password" value="${mongo.password}"></property>
        <property name="maxPoolSize" value="${mongo.maxpoolsize}"></property>
        <property name="instPath" value="com.mindasset.gaia.biz.dao"></property>
    </bean>
    <bean id = "mongoMananger" class="com.monkey.core.MongoManager" >
        <constructor-arg ref="mongoConfig"></constructor-arg>
        <constructor-arg ref="morphia"></constructor-arg>
    </bean>

</beans>